<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="pwa:SiteUrl" value="https://{TENANT}.sharepoint.com/sites/pwa"/>
    <add key="pwa:Login" value="{USER_LOGIN}"/>
    <add key="pwa:Password" value="{USER_PASSWORD}"/>
    <add key="pwa:FieldId" value="{FIELD_GUID}"/>
    <add key="pwa:ResourceId" value="{RESOURCE_GUID}"/>
  </appSettings>
</configuration>